.projectWidth{
    margin-left: 13rem !important;
    width:100vw !important;
    transition: all 0.3S ease;
}
.projectWidthCollapsed{
    margin-left:7rem !important;
    width:100vw !important;
    transition: all 0.3S ease;
}
.table{
    background-color: white !important;
    color:grey !important;
}
