.inputContainer{
    display: flex;
    justify-content: flex-end;
}
.input{
    width:200px;
    margin-right: 1rem;
}
.groupContainer h6{
    background:#E4EAEE;
    border: 1px solid #c6d2d9 ;
    padding: 5px;
    margin-top:15px;
    margin-bottom: 0px;
    

}
.groupData{
    display: flex;
    align-items: center;
    border:1px  solid  #c6d2d9 ;
    margin: 0px;
}
.groupData p{
    color:#666666;
    margin-right: 20rem;
    margin-left: 10px;
    text-transform: uppercase;
    padding-top: 7px;
    
}