.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c6d2d9 ;
    padding-left: 10px;
   padding-top: 5px;
    
   
}
.card p{
    font-size: 1.2rem;
}
.templeteIcons{
    margin-left: 1.2rem;
    font-size: 1rem;
    margin-right: 10px;
}
.access{
   margin-right: 15rem;
}
.access p{
    color: #03A9F4;
    font-size: 1rem;

}
.access  span{
    margin-left: 0.5rem;

   
}