.timesheetWidth {
    margin-left: 13rem !important;
    width: 100vw !important;
    transition: all 0.3S ease;
}

.timesheetWidthCollapsed {
    margin-left: 7rem !important;
    width: 100vw !important;
    transition: all 0.3S ease;
}

.header {
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

.table-head {
    background-color: #e4eaee;
    border-color: #c6d2d9;
    position: absolute;
    margin-bottom: 1rem;
}

.table-body {
    display: block;
    margin-top: 3.7rem;
}

.table-head tr th {
    padding: 1rem 0rem;
    font-size: .8rem;
    padding-right: 1.7rem;
    padding-left: 1rem;
}

.project-title {
    width: 30%;
    text-align: left;
}

.inputSize {
    width: 68px !important;
    margin-right: 1.9rem;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 3px 0px;
    padding-left: 5px;
}

.button-container {
    margin-top: 2rem;
}

.button-container button {
    margin-right: 2rem;
    background: white;
    border: 1px solid grey;
    padding: 0.5rem 0.5rem;
    color: #666666;
    border-radius: 3px;
    cursor: pointer;
}

.button-container button span {
    margin-left: .7rem;
    font-size: 1rem;
}

.table-bottom {
    background: #e4eaee;
}

.table-bottom td {
    padding-left: 1rem;
}

.table-bottom td div span {
    color: #333;
}

.templete-heading{
    margin-bottom: 2rem;

}
.back{
    background:#e4eaee;
    padding: 5px;
}
.templeteContainer{
    margin-top: 3rem;
}
.templeteContainer h5{
    background:#e4eaee;
    border: 1px solid #c6d2d9 ;
    padding: 7px 5px;
    margin: 0px;
}